<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
<!--spring配置-->
	<!-- 1、开启spring注解扫描，管理service和dao -->
	<context:component-scan base-package="com.zr.service"/>
	<context:component-scan base-package="com.zr.dao"/>

	<!-- 2、配置连接池 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
   		<property name="driverClass" value="${jdbc.driver}" />
   		<property name="jdbcUrl" value="${jdbc.url}" />
   		<property name="user" value="${jdbc.username}" />
   		<property name="password" value="${jdbc.password}" />
   	</bean>
<!--spring配置-->


<!--配置MyBaits-->
	<!-- 3、配置MyBatis（把SqlSessionFactory交给IOC管理） -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
   		<property name="dataSource" ref="dataSource" />
		<!-- 传入PageHelper的插件(分页插件) -->
		<property name="plugins">
			<array>
				<!-- 传入插件的对象 -->
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<props>
							<prop key="helperDialect">oracle</prop><!--使用数据库-->
							<prop key="reasonable">true</prop><!--分页页码合理性-->
						</props>
					</property>
				</bean>
			</array>
		</property>
   	</bean>
	<!-- 4、开启MyBatis扫描dao接口 -->
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
   		<property name="basePackage" value="com.zr.dao"/>
   	</bean>
<!--配置MyBaits-->

	<!-- 5、配置Spring的声明式事务管理 -->
	<!--开启事务管理器-->
	<tx:annotation-driven transaction-manager="transactionManager"/>

   	<!--对事务管理器进行实例化-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="dataSource"/>
   	</bean>

</beans>













